.services {
  background-color: rgba(0, 0, 0, 0.05);
}
.welcome-bg {
  background-image: url(../images/welcome-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services-bg {
  background-image: url(../images/services-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services-bg .welcome-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-photo {
  width: 35px;
  border-radius: 50%;
}
.hover-style:hover {
  transform: translateY(-5px) scale(0.9);
  transition: ease-in-out 0.5s;
}
.card-hover:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transform: scale(1.025);
  transition: ease 0.5s;
}
