.services {
  background-color: rgba(0, 0, 0, 0.05);
}
.welcome-bg {
  background-image: url(../images/welcome-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services-bg {
  background-image: url(../images/services-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services-bg .welcome-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-photo {
  width: 35px;
  border-radius: 50%;
}
